body {
    text-align: center;
    color: white;
    background-color: blue;
}
  
h1 {
    margin-top: 0;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #EEE;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #EEE;
    border-radius: 40%;
}
  
.jogador,
.vencedor {
    font-size: 30px;
    margin-top: 10px;
}
  
button {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    background-color: green;
    border: 1px solid green;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.15);
    transition: .1s;
}